body {
    text-align: center;
    height: 100vh;
}

.dice-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.dice {
    height: 200px;
}
.dice-group {
    margin: 40px;
}
footer {
    bottom: 0;
    width: 100%;
}
